:root {
  --primary-dark: #2a3f54;
  --primary-accent: #005a5b;
  --text-primary: #333333;
  --text-secondary: #555555;
  --background-light: #ffffff;
  --background-off-white: #f9f9f9;
  --border-color: #e0e0e0;

  --font-heading: "League Spartan", sans-serif;
  --font-body: "Work Sans", Arial, sans-serif;

  --max-width: 1050px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  background-color: var(--background-light);
  color: var(--text-primary);
}

#rich-toolbar-wrapper {
  position: sticky;
  top: 0;
  z-index: 100;
  /* background: #fff; */
  padding-bottom: 0.75rem;
}
/* first half white */
#rich-toolbar-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 44%;
  background: #fff;
  z-index: -1;
}

.step {
  margin-bottom: 1rem;
}

.step h3 {
  font-family: var(--font-heading);
  color: var(--primary-dark);
  /* text-transform: uppercase; */
  margin-bottom: 0.7rem;
  font-weight: 700;
  letter-spacing: 1px;
  padding-bottom: 0.3rem;
  border-bottom: 2px solid var(--primary-accent);
}

.step h3 .note {
  /* text-transform: none; */
  font-weight: normal;
}

.step h3 i,
.form-group label i,
.question-label i {
  border-bottom: 1px solid #005a5b36;
}

footer {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 15px 5px 95px;
  background: #ffffffaa;
}
footer .date {
  font-size: 0.7rem;
  color: var(--text-secondary);
}
footer .footer-text {
  flex: 1;
  font-size: 0.8rem;
  text-align: center;
  color: var(--text-primary);
}
footer .footer-text .copyright {
  font-variant: small-caps;
}
footer img {
  height: 36px;
}

@media (max-width: 600px) {
  footer {
    padding: 5px;
    gap: 0.2rem;
  }
}
